.footer-container {
    background-color: black;
    color: white;

    .footer-content {
        .footer-item {
            .footer-title {
                font-weight: 500;
            }
        }
    }
}
