.footer-container {
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    .footer-content {
        height: var(--footer-height);

        .footer-item {
            .footer-title {
                font-weight: 500;
            }
        }
    }
}
